/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.del {
    background-color: red;
    color: white; 
    padding: 4px 4px;
    border-radius: 6px;
    border: none;
}

.is-completed {
    text-decoration: line-through;
}

h1 {
    font-family: "Helvetica";
}